<launch>
<!--    <include file="$(find px4)/launch/mavros_3usvs_sitl.launch"/>-->
    <include file="$(find px4)/launch/multi_umv_mavros_sitl.launch"/>

    <arg name="formation_distance" value="15" />
    <arg name="point_num" value="6" />
    <arg name="danger_distance" value="1" />

    <node pkg = "offboard" name = "offboard" type="7vehicles" output="screen">
        <param name="formation_distance" value="$(arg formation_distance)" />
        <param name="waypoint_num" value="$(arg point_num)" type="int"/>
        <param name="danger_distance" value="$(arg danger_distance)" type="double"/>
    </node>
    <include file="$(find offboard)/launch/rosbag_log.launch"/>
</launch>