<launch>
    <node pkg="rosbag" type="record" name="record_msg_full"
          args=" --split --size=4096 --duration=2000 -o multi_data
            /uav1/mavros/state
            /uav1/mavros/vfr_hud
            /uav1/mavros/global_position/global
            /uav1/mavros/setpoint_position/local
            /uav1/mavros/local_position/pose

            /uav2/mavros/state
            /uav2/mavros/vfr_hud
            /uav2/mavros/setpoint_position/local
            /uav2/mavros/local_position/pose
            /uav2/mavros/setpoint_raw/target_local

            /uav3/mavros/state
            /uav3/mavros/vfr_hud
            /uav3/mavros/setpoint_position/local
            /uav3/mavros/local_position/pose

            /uav4/mavros/state
            /uav4/mavros/vfr_hud
            /uav4/mavros/setpoint_position/local
            /uav4/mavros/local_position/pose

            /uav5/mavros/state
            /uav5/mavros/vfr_hud
            /uav5/mavros/setpoint_position/local
            /uav5/mavros/local_position/pose
            /uav5/mavros/setpoint_raw/target_local

            /uav6/mavros/state
            /uav6/mavros/vfr_hud
            /uav6/mavros/setpoint_position/local
            /uav6/mavros/local_position/pose

            /uav7/mavros/state
            /uav7/mavros/vfr_hud
            /uav7/mavros/setpoint_position/local
            /uav7/mavros/local_position/pose

            /uav1/mavros/debug_value/debug_vector
            /uav2/mavros/debug_value/debug_vector
            /uav3/mavros/debug_value/debug_vector
            /uav4/mavros/debug_value/debug_vector
            /uav5/mavros/debug_value/debug_vector
            /uav6/mavros/debug_value/debug_vector
            /uav7/mavros/debug_value/debug_vector
"
    />
</launch>