<launch>
    <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />
    <arg name="is_usv" value="true" />
    <arg name="is_uav" value="false" />

    <include file="$(find offboard)/launch/rosbag_log.launch"/>
    <include file="$(find offboard)/launch/rviz.launch"/>
    <arg name="formation_distance" default="10" />
    <node pkg = "offboard" name = "offboard" type="3usv" output="screen">
        <param name="formation_distance" value="$(arg formation_distance)" />
        <param name="is_usv" value="$(arg is_usv)" type="bool"/>
        <param name="is_uav" value="$(arg is_uav)" type="bool"/>
    </node>

    <include file="$(find offboard)/launch/kino_replan.launch"/>
    <node pkg = "offboard" name = "send_target" type="send_target" output="screen"></node>
</launch>
<!--roslaunch usb_cam usb_cam-test.launch -->